button, .tab, .my-projects {
    background-color: var(--clr-sidebar);
    border: none;
    border-radius: 0.3rem;
    transition: 0.05s;
    font-family: var(--font-family);
}

.tab button {
    background-color: var(--clr-sidebar)
}

.project-tab:hover button, .my-projects:hover button {
    background-color: var(--clr-tab-hover)
}

.tab button:hover, .my-projects button:hover {
    background-color: var(--clr-btn-hover)
}