body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    background-color: var(--clr-bg-main);
    font-family: var(--font-family);
}

/* ** APP */
.app-container {
    display: grid;
    grid-template-columns: 280px 1fr;

    width: 100%;
    height: 100%;
}

/* * SIDEBAR */
.sidebar {
    display: flex;
    flex-direction: column;

    padding: 20px;
    width: 280px;
    resize: both;
    gap: var(--space-lg);

    background-color: var(--clr-sidebar);

    transition: all 0.6s;
}

.sidebar.closed {
    transform: translateX(-280px)
}

.profile {
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile .details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-sm);
}

.profile img {
    width: 2.5em;
    height: 2.5em;
    
    border-radius: 50%;
    outline: 2px solid var(--clr-primary);
    outline-offset: 2px;
    
    cursor: pointer;
}

.profile #username {
    font-size: var(--fs-lg);
    font-weight: var(--fw-semibold);
}

.profile #toggle-sidebar {
    width: 2em;
    height: 2em;

    transition: transform 0.6s, background-color 0.3s ;
}

.navigation {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    gap: var(--space-md);
}

.main-filter {
    display: flex;
    flex-direction: column;
}
/* Projects */
.project-filter {
    display: flex;
    flex-direction: column;
}

.tab, .my-projects {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    gap: var(--space-xs);
    padding: var(--space-2xs);
}

.tab:hover, .my-projects:hover {
    background-color: var(--clr-tab-hover);
}

.my-projects p, .project-tab p {
    width: 80%;
}

.my-projects #list-projects svg {
    transform: rotate(0deg);
    transition: 0.2s ease;
}

.my-projects #list-projects.closed svg {
    transform: rotate(-90deg);
}

.projects-container {
    display: flex;
    flex-direction: column;
    
    clip-path: inset(0 0 0 0); 
    transition: clip-path 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.projects-container.closed {
    clip-path: inset(0 0 100% 0); 
    opacity: 0; 
}

.my-projects, .projects-container .project-tab {
    display: flex;
    justify-content: space-between;
    
    flex: 1;
    gap: var(--space-xs);
}

.project-tab .hashtag {
    flex: 0;
}

.tab.selected {
    background-color: var(--clr-primary);
    color: var(--clr-text-primary);
    transition: background-color 0.15s ease, color 0.15s ease;
}

/* SVG */
svg {
    stroke-width: 1.5px;
    pointer-events: none;
}

.filter svg {
    width: 1.25em;
}

#add-task svg {
    width: 2em;
    height: auto;
    color: var(--clr-primary);
    filter: drop-shadow(var(--drop-shadow-sm));
    transition: 0.2s;
}

#add-task svg:hover {
    height: auto;
    filter: drop-shadow(var(--drop-shadow-md));
}

.task-item svg {
    width: 1.2rem;
}

/* * CONTENT */
.content-view {
    padding: 4em clamp(4rem, 8vw, 10rem);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);

    transition: all 0.6s;
}

.content-view.closed {
    margin-left: -280px;
}

#toggle-sidebar.closed {
    transform: translateX(80px);
}

.content-view .header {
    display: flex;
    flex-direction: column;
}

.content-view .title-container {
    display: flex;
    justify-content: space-between;
}

.content-view .title {
    font-size: var(--fs-xl);
    color: var(--clr-text-main);
}

.content-view .header .description {
    width: fit-content;
    max-width: 60%;

    text-decoration: none;
    cursor: pointer;
}


.content-view .header .description:hover {
    text-decoration: underline;
}

ul.tasks-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.content-view .task-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    gap: var(--space-2xs);
}

.content-view .task-item .details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content-view .task-item .title {
    font-size: var(--fs-base);
    color: var(--clr-text-main);
}


.content-view .task-item .description, .task-item .dueDate {
    font-size: var(--fs-sm);
    color: var(--clr-text-muted);
}

.content-view hr {
    width: 95%;
    opacity: 60%;
    margin: 0 auto;
}
