body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/* MODAL */
.modal-container dialog {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.modal-container dialog form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-container dialog form div:has([id*="title"]),
dialog form div:has([id*="desc"]) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-container #shadow-root {
    position: absolute;
}

.modal-container dialog textarea {
    resize: none;
}

.modal-container dialog form div:has([id*="task-dueDate"]),
.modal-container dialog form div:has([id*="task-priority"]) {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.modal-container dialog [id*="task-dueDate"],
.modal-container dialog [id*="task-priority"] {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 10px;
}

.modal-container dialog .modal-button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.modal-container .selected {
    border: 2px solid blue;
}

/* APP */
.app-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 280px 1fr;
}

/* SIDEBAR */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    padding: 20px;
}
.profile {
    height: 60px;
}
.navigation {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.main-filter {
    display: flex;
    flex-direction: column;
}
.project-filter {
    display: flex;
    flex-direction: column;
}
.my-projects, .projects-container .project-tab {
    display: flex;
    justify-content: space-between;
    flex: 1;
    background-color: #e9e9ed;
    border: 1px solid #a5a5b1;
    border-radius: 1px;
    padding: 2px;
}
.my-projects p {
    flex-grow: 0.9;
}
.projects-container {
    display: flex;
    flex-direction: column;
}
.projects-container .project-tab {
}


/* CONTENT */
.content-view {
    padding: 20px;
}

.content-view .header {
    display: flex;
    justify-content: space-between;
}

.content-view .tasks-container {
    padding: 0px 100px;
}


.content-view .task-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.content-view .task-item .details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content-view .task-item .title {
    font-weight: bold;
    font-size: 1.3rem;
}

.content-view .task-item .description {
    font-size: 1rem;
}
